body {
    background-color: #757575;
}

.red-header {
    height: 12vh;
    display: flex;
    align-items: flex-end;
}

.img-header {
    height: 9vh;
}

.logo {
    margin-top: 2vh;
}

.name-app {
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.568),
    -10px 10px 25px rgba(0, 0, 0, 0.575),
    -10px -10px 25px rgba(0, 0, 0, 0.541),
    10px -10px 25px rgba(0, 0, 0, 0.493);
    margin-bottom: 6vh;
}

main {
    background-color: #9CBDD6;
    text-align: center;
    padding: 3vh;
    height: 100%;
}

.main-tl {
    height: 56.5vh;
}

.container {
    background-color: #000000;
    padding: 1vh;
}

.tela-inicial {
    background-color: #9CBDD6;
    display: flex;
    flex-direction: column;
    row-gap: 11.3vh;
}

.tela-cadastro {
    background-color: #9CBDD6;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.icon-logout {
    font-size: 5vh !important;
    margin-right: 10%;
}

.icon-account {
    font-size: 8vh !important;
    margin-left: 10%;
}

.icon-navbar {
    font-size: 6vh !important;
}

.account-icon {
    color: #26a69a;
}

.decoration-text {
    text-decoration: underline;
}

table {
    font-weight: bold;
}

td {
    font-size: 2vh;
}

input[type="text"],
input[type="password"] {
    color: white !important;
}
   
input[type="submit"] {
    font-size: 5vh;
    font-weight: bold;
    width: 100%;
    padding: 2vh 3vh;
    margin: 1vh 0;
    color: #000000;
    border: none;
    cursor: pointer;
}

.color-red {
    background-color: #780002;
}

a:hover {
    background-color: #ffffff0e;
}

::placeholder {
    opacity: 25%;
}