body {
    background-color: #757575;
}

.tela-inicial {
    background-color: #9CBDD6;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.tela-cadastro {
    background-color: #9CBDD6;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.img-cadastro {
    width: 50vh;
}

.red-header {
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.icon-logout {
    font-size: 5vh !important;
    margin-right: 10%;
}

.icon-account {
    font-size: 8vh !important;
    margin-left: 10%;
}

main {
    background-color: #9CBDD6;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.main-tl {
    height: 497px;
}

.form-cadastro {
    margin-top: 20px;
}

.form-historico {
    margin-top: 45px;
}

.container {
    background-color: #000000;
    padding: 10px;
}

h1 {
    color: #26a69a;
}

.account-icon {
    color: #26a69a;
}

.decoration-text {
    text-decoration: underline;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.name-app {
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.568),
    -10px 10px 25px rgba(0, 0, 0, 0.575),
    -10px -10px 25px rgba(0, 0, 0, 0.541),
    10px -10px 25px rgba(0, 0, 0, 0.493);
    margin-bottom: 60px;
}

.brand-logo {
    font-size: 24px;
}

.color-red {
    background-color: #780002;
}

.img-header {
    height: 9vh;
    margin-top: 5px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 200%;
    font-weight: bold;
}

.icon-navbar {
    font-size: 350% !important;
}

.size-navbar {
    height: 100%;
}
   
table {
    font-weight: bold;
}
   
td {
    border: 1px solid #ddd;
    padding: 7.6px;
    text-align: center;
}
   
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    color: white !important;
}
   
input[type="submit"] {
    font-size: 5vh;
    font-weight: bold;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #000000;
    border: none;
    cursor: pointer;
}

a:hover {
    background-color: #ffffff0e;
}